// nav a:hover {
//   background: var(--hover-color);
//   border-radius: 0.5rem;
// }

nav a.active {
  background: var(--btn-color);
  border-radius: 0.5rem;
}

// .nav-item {
//   position: relative;
// }

// .nav-item .trigger {
//   display: inline-block;
//   cursor: pointer;
// }

// .nav-item .dropdown {
//   display: none;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   min-width: 220px;
//   padding: 0.5rem;
//   border-radius: 0.5rem;
//   background: var(--v-grad-brown);
//   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
//   border: 1px solid var(--secondary-beige);
//   flex-direction: column;
//   gap: 0.25rem;
//   z-index: 50;
// }

// .nav-item:hover .dropdown {
//   display: flex;
//   background-color: var(--nav-bg-color);
// }

// .nav-item .dropdown a {
//   padding: 0.375rem 0.5rem;
//   border-radius: 0.375rem;
// }

// .nav-item .dropdown a:hover {
//   background: var(--hover-color);
// }
