.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  // border-bottom: 1px solid var(--border-color);
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: var(--v-grad-brown);
}

.brand {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.brand-img {
  height: 32px;
  width: auto;
}
