:host ::ng-deep .range {
  -webkit-appearance: none;
  appearance: none;
  height: 0.25rem;
  border-radius: 9999px;
  background: var(--primary-beige);
  outline: none;
}

:host ::ng-deep .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

:host ::ng-deep .range::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

:host ::ng-deep .range::-moz-range-track {
  height: 0.25rem;
  border-radius: 9999px;
  background: var(--primary-beige);
}

:host ::ng-deep .range-wrap {
  position: relative;
  height: 1.25rem;
}

:host ::ng-deep .thumb-value {
  position: absolute;
  top: 50%;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  background: #f7c6b7;
  color: var(--secondary-water-green);
  border: 2px solid var(--secondary-water-green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  pointer-events: none;
}

:host ::ng-deep .range-wrap .range {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

:host ::ng-deep select {
  border-radius: 9999px;
}

:host ::ng-deep select option {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  line-height: 1.25;
  margin: 0;
}
